* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.flex-container {
    display: flex;
    margin: 0 auto;
}

.flex {
    border: 2px solid black;
    margin-right: 10px;
    color: black;
    padding: 30px;
}

.left {
    flex: 0.25;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-cover {
    max-width: 100%;
    height: auto;
}

.right {
    flex: 0.75;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
}


.form-group {
    margin-bottom: 25px;
    display: flex;
}

label {
    display: block;
    font-weight: bold;
    padding-right: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    background-color: #fff;
}

button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #000;
    cursor: pointer;
}